main {
  margin: 0;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-right: 50px;
} 

.title-row {
  border-radius: 5px;
  height: 70px;
  background-color: rgba(196, 225, 215, 0.673);
  box-shadow: 1px 1px 5px rgb(186, 186, 186);
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  padding: 0;
  margin: 0;
  color: #173F43;
  font-family: Fredoka One;
  text-decoration: underline;
}

.main-row {
  margin-top: 20px;
  height: 700px;
  display: flex;
  justify-content: space-between;
}

.main-col1 {
  width: 400px;
  margin-right: 30px;
  display: grid;
  grid-template-rows: 400px 1fr;
}

.picture-row img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: rgba(196, 225, 215, 0.673);
  box-shadow: 1px 1px 5px rgb(186, 186, 186);
}

.ingredients-row {
  border-radius: 5px;
  margin-top: 30px;
  box-shadow: 1px 1px 5px rgb(186, 186, 186);
  background-color: rgba(196, 225, 215, 0.673);
  display: flex;
  flex-direction: row;
}

.ingredient-col1 {
  padding: 10px 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.ingredient-col2 {
  flex: 1;
}

.ingredient-part-pancakes {
  height: 20px;
  display: flex;
  align-items: center;
}

.ingredient-part-pancakes div {
  margin-left: 20px;
  border-radius: 10px;
  border: 1px solid black;
  height: 12px;
  width: 12px;
  display: inline-block;
}

.ingredient-part-pancakes div:target {
  background-color: green
}

.ingredient-part-pancakes p {
  margin: 0;
  margin-left: 10px;
  font-size: 13px;
  font-family: Fredoka One;
  display: inline-block;
}

.ingredient-mått {
  color: rgb(84, 84, 84);
}

.main-col2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 200px;
}

.description-row {
  display: grid;
  grid-template-rows: 30px 1fr;
  background-color: rgba(196, 225, 215, 0.673);
  box-shadow: 1px 1px 5px rgb(186, 186, 186);
  border-radius: 5px;
  height: 300px;
}

.how-to-row {
  box-shadow: 1px 1px 5px rgb(186, 186, 186);
  background-color: rgba(196, 225, 215, 0.673);
  border-radius: 5px;
  margin-top: 20px;
  flex: 1;
}