

.products-container {
    padding: 30px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    width: 800px;
    height: 300px;
    border: 2px solid black;
}



.product-card {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    flex: 1;
    height: 100%;
    border: 1px solid gray;
}

.product-card > .image {
    width: 80%;
    height: 140px;
}

.product-card > .title {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
}

.product-card > .price {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.product-card > .add-to-cart-btn {
    height: 30px;
    width: 100px;
}


.cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
}
.cart-items-container {
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    width: 100%;
}

.cart-item {
    display: flex;
    align-items: center;
    background-color: rgb(237, 237, 237);
    height: 80px;
    width: 800px;
    font-family: Arial, Helvetica, sans-serif;
}

.cart-item > .image {
    height: 80%;
    aspect-ratio: 1;
    margin-left: 10px;
}

.cart-item > .in-cart-title {
    flex: 1;
    margin: 0 50px;
}

.cart-item > .price {
    flex: 1;
}

.cart-item > .quantity {
    width: 40px;
    margin: 0 10px;
}

.cart-item > .remove-btn {
    margin: 0 20px;
    height: 30px;
    width: 100px;
    background-color: rgb(255, 66, 66);
    border-radius: 10px;
    color: white;
}
