@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Open+Sans:wght@400;500;600;700&display=swap");

* {
  font-family: "Open Sans";
}
body {
  margin: 0;
  height: 1000px;
}

.header {
  display: flex;
  justify-content: end;
  align-items: center;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.641);
  border-bottom: 2px solid black;
  height: 60px;
  width: 100%;
  z-index: 1;
}

.header > .right{
  background-color: pink;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100%;
}

.header > .right > a {
  height: 100%;
  width: 100%;
}

.header > .right > a > .cart-icon{
height: 34px;
background-color: green;
aspect-ratio: 1;
background-image: url(/images/icons/shopping-cart.png);
background-size: contain;
}

.intro-video-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.intro-video-container img {
  filter: brightness(40%);
  top: 0;
  position: absolute;
  width: 100%;
}

.intro-video-container h1 {
  max-width: 700px;
  text-align: center;
  margin: -15px 0;
  display: block;
  z-index: 2;
  font-family: "Alfa Slab One";
  font-size: 60px;
  color: white;
}

.featured-products {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 20px;
}

.featured-products__card {
  display: flex;
  border: 4px solid rgb(214, 214, 214);
  height: 300px;
  width: 400px;
  min-width: 400px;
  border-radius: 20px;
}

.featured-products__card > .left {
  padding: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  background-color: rgb(201, 215, 225);
  border-radius: 15px 0 0 15px;
}

.featured-products__card > .left > .image {
  height: 80%;
}

.featured-products__card > .right {
  padding: 0 10px;
  width: 50%;
}

.featured-products__card > .right > .title {
  margin-top: 10px;
  color: rgb(24, 24, 24);
  font-size: 16px;
  height: 30px;
}

.featured-products__card > .right > .description {
  color: rgb(102, 102, 102);
  font-size: 14px;
  margin: 0;
}

.featured-products__card > .right > .price {
  color: rgb(24, 24, 24);
  font-size: 18px;
  margin-top: 15px;
}

.featured-products__card > .right > .color-container {
  display: flex;
  width: 100%;
  height: 40px;
  align-items: center;
  justify-content: space-around;
}

.featured-products__card > .right > .color-container > .color {
  height: 70%;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: rgb(81, 170, 208);
  border: 3px solid rgb(214, 214, 214);
}

.featured-products__card > .right > .color-container > .color:nth-child(2) {
  background-color: rgb(137, 44, 158);
}

.featured-products__card > .right > .color-container > .color:nth-child(3) {
  background-color: rgb(203, 35, 35);
}

.featured-products__card > .right > .color-container > .color:nth-child(4) {
  background-color: rgb(28, 154, 55);
}

.featured-products__card > .right > .add-to-cart-btn {
  height: 40px;
  width: 150px;
  margin: 15px 16px;
  background-color: rgb(221, 221, 221);
  border-radius: 20px;
  font-weight: bold;
  font-size: 16px;
  border: none;
  transition: all .2s;
}

.featured-products__card > .right > .add-to-cart-btn:hover {
  background-color: rgb(195, 195, 195);
}
