@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Open+Sans:wght@400;500;600;700&display=swap");

body {

  margin: 0;
  background-color: rgb(237, 237, 237);
}

* {
  font-family: "Open Sans";
}

.shoppingcart-container {
    padding: 30px;
    width: 70%;
    margin: 0 auto;
    margin-top: 100px;
  background-color: white;
}

.sc__info-row ul {
  height: 10px;
  width: 100%;
  display: grid;
  padding: 0;
  grid-template-columns: 1fr 70px 70px 200px 100px 100px;
}

.sc__info-row ul li {
  font-size: 12px;
  color: rgb(30, 30, 30);
  display: flex;
  align-items: center;
  justify-content: center;
}

.sc__products-display-row {
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgb(149, 149, 149);

  min-height: 100px;
}

.sc__products-display-row > .sc__product-row {
  border-bottom: 1px solid rgb(149, 149, 149);
  padding-bottom: 29px;
  display: grid;
  align-items: center;
  grid-template-columns: 400px 70px 70px 200px 100px 100px;
  height: 80px;
  margin: 29px 0;
}

.sc__product-row > .description {
  height: 80px;
  display: flex;
  align-items: center;
}

.description > .image {
  background-color: gray;
  height: 100%;
  aspect-ratio: 1;
  background: url(/images/products/jackets/dark-blue-arc.webp) center center no-repeat;
  border: 1px solid rgb(238, 238, 238);
  object-fit: cover;
}

.description > .title {
  font-size: 15px;
  margin: 0 auto;
}

.sc__product-row > .size {
  margin: 0 auto;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  aspect-ratio: 1;
  background-color: rgb(252, 252, 252);
  border: 1px solid rgb(238, 238, 238);
}

.sc__product-row > .remove {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  aspect-ratio: 1;
  margin: 0 auto;
  font-size: 30px;
  border-radius: 2px;
  color: white;
  background-color: rgb(255, 137, 137);
  border: 1px solid rgb(238, 238, 238);
  border: none;
}

.sc__product-row > .remove:hover {
  background-color: rgb(255, 100, 100);
}

.sc__product-row > .price {
  font-size: 15px;
}

.sc__product-row div {
  display: flex;
  justify-content: center;
}
.sc__product-row input {
  display: flex;
  justify-content: center;
}
