@import url("https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&family=Playfair+Display:ital,wght@0,600;0,700;1,400&family=Prompt:wght@400;700&family=Roboto:wght@400;700&display=swap");
.header {
  width: 100%;
  align-self: flex-start;
  height: 60px;
  background-color: #18171c;
  display: flex;
  justify-content: center;  
  border-bottom: 2px solid #292730;
}

.header-left {
  display: flex;
  flex: 1;
  align-items: center;
}

.header-logo {
  height: 60%;
  margin-left: 20px;
}

.header-middle {
  align-items: center;
  display: flex;
  width: 400px;
}

.search-bar {
  height: 30px;
  width: 250px;
  border-radius: 17px;
  border: none;
  background-color: rgba(255, 255, 255, 0.247);
  align-self: center;
  margin-left: 40px;
}

.header-search-icon {
  background-image: url(../Pictures/icons/header-search-light.png);
  background-size: contain;
  height: 16px;
  width: 16px;
  margin-left: -26px;
}

.search-bar:hover {
  background-color: rgba(255, 255, 255, 0.445);
}

.search-bar:focus {
  outline: none;
}

.header-right {
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
}

.header-right-left {
  display: flex;
  justify-content: space-around;
  width: 60%;
}

.header-sign-up-button {
  display: flex;
  background-color: #8C1C1C;
  height: 29px;
  width: 75px;
  border-radius: 13px;
  align-items: center;
  justify-content: center;
  color: #e5dada;
  font-family: Roboto;
  font-weight: bold;
  font-size: 15px;
  transition: background-color 0.2s;
}

.header-sign-up-button:hover {
  background-color: #d62828;
  cursor: pointer;
}

.header-sign-in-button {
  display: flex;
  background-color: #B5914E;
  height: 29px;
  width: 75px;
  border-radius: 13px;
  align-items: center;
  justify-content: center;
  color: #e5dada;
  font-family: Roboto;
  font-weight: bold;
  font-size: 15px;
  transition: background-color 0.2s;
}

.header-sign-in-button:hover {
  background-color: #e5ba6c;
  cursor: pointer;
}

.header-right-right {
  width: 40%;
  display: flex;
  justify-content: space-around;
}

.header-right-left p {
  font-size: 15px;
  font-weight: bold;
  font-family: Roboto;
  color: #e5dadac5;
  transition: color 0.3s;
}

.orange-hover:hover {
  color: #B5914E;
  cursor: pointer;
}
