@import url("https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&family=Playfair+Display:ital,wght@0,600;0,700;1,400&family=Prompt:wght@400;700&family=Roboto:wght@400;700&display=swap");

body {
  margin: 0;
  background-color: #18171c;
  flex-direction: column;
  display: flex;
}

.movie-main-row {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.movie-title {
  text-align: center;
  font-family: Roboto;
  font-weight: bold;
  color: #E6E6E6;
  font-size: 20px;
  margin: -16px;
}


.movie-part {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 300px 1fr;
  border: 2px solid #292730;
  background-color: #1a191f;
  width: 600px;
  height: 450px;
  border-radius: 20px;
}

.movie-info{
  flex: 1;
}

.movie-poster {
 display: flex;
 justify-content: center;
}

.movie-poster img {
  width: 100%;
  border-radius: 10px;
}


